@import "tailwindcss";
@plugin "daisyui";

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Edge */
}

body {
  background-color: rgb(255, 255, 255);
}